:root{
  --main-color:#43BE31;
}

.body{
  box-sizing: border-box !important;
  padding: 0px !important;
  margin: 0px !important;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden !important;
}
.text-first{
  color: var(--main-color) !important;
}
.bg-first{
  background-color: var(--main-color) !important;
}
.socialmedia{
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
}
ul{
  list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none !important;
}
a:hover{
  text-decoration: none !important;
}
.ui-autocomplete{
  list-style: none;
  cursor: pointer;
  width: 500px !important;
  background-color: rgba(255, 255, 255, 0.592) !important;
}
.h-100v{
  max-height: 100vh;
}
.font-primary{
  font-family: 'Montserrat', sans-serif;
}
.display-5{
  font-size: 3.5rem !important;
  opacity: 1;
}
.hero-box{
  background-color:rgba(212, 212, 212, 0.8);
}
.homecontainer{
  height: 100vh;
  background-image:url("./images/hero1.jpeg");
  width: 100vw;
  text-align: center;
  padding-top: 100px;
  
}
.ui-helper-hidden-accessible{
  display: none !important;
  
}
