.App{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.h-100v{
  max-height: 100vh;
}
.homecontainer{
  height: 100vh;
  background-image:url("./images/hero.jpeg");
  width: 100vw;
  text-align: center;
  padding-top: 100px;
  
}
