.App{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
}
.ui-autocomplete{
  list-style: none;
  cursor: pointer;
  width: 500px !important;
  background-color: rgba(255, 255, 255, 0.592) !important;
}
.h-100v{
  max-height: 100vh;
}
.font-primary{
  font-family: 'Montserrat', sans-serif;
}
.display-5{
  font-size: 3.5rem !important;
  opacity: 1;
}
.hero-box{
  background-color:rgba(212, 212, 212, 0.8);
}
.homecontainer{
  height: 100vh;
  background-image:url("./images/hero.jpeg");
  width: 100vw;
  text-align: center;
  padding-top: 100px;
  
}
.ui-helper-hidden-accessible{
  display: none !important;
  
}
